.menu-item {
  &__name {
    position: relative;
    font-size: 2em;
    width: 100%;
    text-align: center;
    font-weight: 400;
    padding-right: 1rem;
    color: rgb(0, 0, 0);
  }

  &__description {
    font-size: 1.5em;
    color: rgb(65, 57, 57);
    margin-top: 0.5em;
    margin-right: 1rem;
    margin-bottom: 1em;
    text-align: center;
  }
}

.sliding-container {
  position: relative;
  top: 0;
  transition: all ease-in 0.5s;
  left: 40%;
}
@media (min-width: 320px) {
  .sliding-container {
    left: 0;
    z-index: 10;
  }
  .menu-item {
    &__container {
      background-size: cover;
      background-position: -60vw;
      background-repeat: no-repeat;
    }
  }
}
@media (min-width: 960px) {
  .menu-item {
    &__container {
      background-size: cover;
      background-position: -10vw;
      background-repeat: no-repeat;
    }
  }
}
