@function makelongshadow($color, $long, $width) {
  $val: 0px 0px 0px $color;
  @for $i from 1 through $long {
    $val: #{$val}, -#{$i}px #{$i}px #{$width}px #{$color};
  }
  @return $val;
}

.menu {
  list-style: none;
  border-top: 1px solid var(--salmon-primary);
  &__title {
    font-size: 4em;
    font-weight: 700;
    font-family: "UtopiaRegular";
    width: 100%;
    padding: 1.5rem;
    background-image: url(../../../public/images/salmon_bg.jpg);
    background-repeat: no-repeat;
    background-position: center right;
  }
  &__section__title {
    color: var(--salmon-primary);
    font-size: 3.5em;
    font-weight: 500;
    padding-left: 0.5em;
  }
  &__container {
    max-width: 1000px;
    z-index: 5;
    margin: auto;
  }
}
