:root {
  --salmon-primary: #ed7568;
  --salmon-primary-light: #ed756828;
  --salmon-secondary: #cc6562;
  --lemon-primary: #f4ea6b;
  --lemon-secondary: #7f7233;
  --onion-primary: #9b80b9;
  --onion-primary-light: #9b80b922;
  --onion-secondary: #503d66;
  --white: #f2f2f2;
}
