:root {
  --salmon-primary: #ed7568;
  --salmon-primary-light: #ed756812;
  --salmon-primary-ultralight: #ed75683c;
  --salmon-secondary: #cc6562;
  --lemon-primary: #f4ea6b;
  --lemon-primary-light: #f4eb6bad;
  --lemon-secondary: #7f7233;
  --onion-primary: #9b80b9;
  --onion-primary-light: #9b80b9d7;
  --onion-secondary: #503d66;
  --black: #333333;
  --white: #f2f2f2;
  --white-transparent: #c1c1c1b8;
}
