.about {
  transition: all 5s;

  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    10deg,
    rgba(2, 0, 36, 0) 2%,
    rgba(9, 9, 121, 0) 1%,
    rgba(255, 255, 255, 1) 32%
  );
  display: grid;
  place-items: center;
  z-index: 2;
  animation: background-anim 6s alternate infinite;
  &__animation_in {
    -webkit-animation: slide-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    animation: slide-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  &__animation_out {
    -webkit-animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-out 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  &__title {
    width: 936px;
    max-width: 80vw;

    font-size: 5em;
    font-family: "UtopiaRegular";
    text-align: left;
    border-bottom: 1px solid var(--salmon-secondary);
  }
  &__bio {
    font-size: 1.5em;
    width: 936px;
    max-width: 80vw;

    margin: 0 auto;
  }
  &__pic {
    float: right;

    width: 60%;
    shape-outside: url("../../../public/images/fusione.png");
  }
}

@keyframes background-anim {
  0% {
    background-color: var(--onion-primary);
  }

  50% {
    background-color: var(--salmon-primary);
  }
  100% {
    background-color: var(--lemon-primary);
  }
}
