.about {
  transition: all 5s;
  width: 100%;
  max-width: 80vw;
  margin: auto;
  display: grid;
  place-items: center;
  &__title {
    width: 100%;
    font-size: 2.5em;
    font-family: "UtopiaRegular";
    text-align: left;
    border-bottom: 1px solid var(--black);
  }
  &__bio {
    font-size: 1.5em;
  }
  &__pic {
    width: 60%;
    max-width: 400px;
    object-fit: cover;
  }
}
