.about {
  transition: all 5s;
  backdrop-filter: blur(20px);
  background-color: rgba(240, 240, 240, 0.426);
  background-image: radial-gradient(
      at 99% 0%,
      hsla(268, 28%, 61%, 0.103) 0px,
      transparent 50%
    ),
    radial-gradient(at 99% 99%, hsla(5, 78%, 66%, 1) 20%, transparent 90%),
    radial-gradient(at 0% 100%, hsla(55, 86%, 68%, 1) 20%, transparent 90%);
  display: grid;
  place-items: center;
  &__title {
    width: 936px;
    max-width: 80vw;

    font-size: 2.5em;
    font-family: "UtopiaRegular";
    text-align: left;
    border-bottom: 1px solid var(--salmon-secondary);
  }
  &__bio {
    font-size: 1.5em;
    width: 936px;
    max-width: 80vw;

    margin: 0 auto;
  }
  &__pic {
    float: right;

    width: 60%;
    shape-outside: url("../../../public/images/fusione.png");
  }
  .carousel {
    width: 100%;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 50%;
      height: 50%;
      box-shadow: none;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      max-height: 350px;
      object-fit: cover;
    }
  }
}

@media (max-width: 960px) {
  .swiper-slide {
    width: 90% !important;
    height: 90% !important;
  }
}
