.header {
  width: 100vw;
  z-index: 1;
  padding: 0;
  max-height: 100vh;
  transition: all 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  background-color: var(--white-transparent);
  .navbar {
    font-size: 1.5em;
    background-color: #ffffff9f;
    padding: 2em;
    animation: slide-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);

    &__list {
      &__fixed {
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  &__title-box {
    background-color: #d64949;
    border-radius: 50px;
    mix-blend-mode: difference;
  }
  &__title {
    max-width: 750px;
    text-align: center;
    transform-style: preserve-3d;
    font-size: 4em;
    color: var(--black);

    span {
      opacity: 0;
      animation: fadeIn 0.5s;
      animation-fill-mode: forwards;
    }
    @for $i from 1 through 3 {
      span:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.5}s;
      }
    }

    span:last-child {
      font-weight: 700;
      color: var(--salmon-secondary);

      text-shadow: 1px 1px var(--salmon-primary);
    }
    margin: 0;
  }
  .subtitle {
    color: var(--black);
    margin-top: 0;
    font-size: 1.5em;
    font-family: "Open Sans Condensed", sans-serif;
  }
  &__image {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade 0.5s linear;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.cta {
  border-radius: 2px;
  border: 2px solid var(--salmon-primary);
  padding: 0.5rem 2rem;
  color: var(--salmon-primary);
  font-weight: 700;
  transition: all 0.25s;

  &:hover {
    background-color: var(--salmon-primary);
    border: 2px solid var(--salmon-primary);
    color: var(--white);
  }
  &.primary {
    background-position: 100% 100%;

    background-color: var(--salmon-primary);
    border: 2px solid var(--salmon-primary);

    background-image: radial-gradient(
        at 0% 0%,
        var(--salmon-primary-light) 10%,
        transparent 50%
      ),
      radial-gradient(at -500% 0%, hsla(5, 78%, 66%, 1) 60%, transparent 80%),
      radial-gradient(at 200% 100%, var(--salmon-primary) 60%, transparent 40%);
    background-size: 200% 200%;
    color: var(--white);
    transition: all 0.25s;
    text-shadow: #333333 0.5px 1px 0.5px;
    &:hover {
      background-color: var(--salmon-primary);
      border: 2px solid var(--salmon-primary);
      background-position: 0 0;
    }
  }
}
.videoBackground {
  position: absolute !important;
  width: 100%;
  height: 100vh;
  z-index: -1 !important;
  object-fit: cover;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
