.header {
  padding: 0;
  max-height: 100vh;
  transition: all 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  background-color: #ffffffa9;
  .navbar {
    font-size: 1.5em;
    background-color: #ffffff9f;
    padding: 2em;
    animation: slide-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);

    &__list {
      &__fixed {
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  &__title-box {
    background-color: #d64949;
    border-radius: 50px;
    mix-blend-mode: difference;
  }
  &__title {
    color: #b39999;
    max-width: 750px;
    text-align: center;
    transform-style: preserve-3d;
    font-size: 3em;
    span {
      font-weight: 700;
      text-shadow: 1px 1px var(--onion-primary);
    }
    margin: 0;
  }
  &__subtitle {
    font-size: 5em;
    background-color: #312f2f;
    color: #b39999;
    text-align: left;
    padding-left: 40%;
    margin-top: 0;
    transform-style: preserve-3d;
    font-size: 2.5em;
    font-family: "Open Sans Condensed", sans-serif;
  }
  &__image {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade 0.5s linear;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadecycle > * {
  opacity: 0;
  position: fixed;
  line-height: 200px;
  text-align: center;
}

$totalTime: 30s;
$items: 5;
$animationSpeed: 1;

$animationTime: 0s + $totalTime / ($items * $animationSpeed * 2);
$showTime: (0s + $totalTime - ($animationTime * $items)) / $items;

@for $i from 1 through $items {
  .fadecycle > *:nth-child(#{$i}) {
    $delay: -$animationTime + ($animationTime + $showTime) * ($i - 1);
    animation: fadeinout $totalTime linear $delay infinite;
  }
}

$animationPercentage: 0% + 100 * (($animationTime / $totalTime));
$showPercentage: 0% + 100 * ($showTime / $totalTime);

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  #{$animationPercentage},
  #{$animationPercentage + $showPercentage} {
    opacity: 1;
  }
  #{$showPercentage + $animationPercentage * 2},
  100% {
    opacity: 0;
  }
}

.cta {
  border-radius: 2px;
  border: 2px solid var(--salmon-primary);
  padding: 0.5rem 2rem;
  color: var(--salmon-primary);
  font-weight: 700;
  &.primary {
    background: var(--salmon-primary);
    color: var(--white);
    text-shadow: #333333 0.5px 1px 0.5px;
  }
}
