@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: UtopiaRegular;
  src: url("../../public/static/fonts/UtopiaStd-Regular.otf") format("opentype");
}
* {
  max-width: 99vw;
}

body,
html,
main {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  &__container {
    transition: all 1.5s;
    flex-direction: column;
    display: flex;
    width: 80vw;
    overflow: hidden;
    z-index: 10;
  }
}
$animation: 0.6s; // animation speed
$scale: 1; // icon scale 68/68 default

@media (min-width: 720px) {
  .main__container {
    flex-direction: row;
  }
}
