.contact-form {
  width: 936px;
  max-width: 80vw;
  margin: auto;

  &__title {
    font-size: 2.5em;
    padding: 0 1rem;
    font-family: "UtopiaRegular";
    border-bottom: 1px solid var(--onion-primary);
  }
  .form_row {
    display: flex;
  }
  &__input {
    resize: none;
    width: 100%;
    font-size: 1.5em;
    padding: 0.5em;
    border: 0px;
    border-bottom: 1px solid;
    background-color: transparent;
    border-image: linear-gradient(to right, #8b8b8b, transparent);
    transition: all 0.5s;
    &:focus {
      box-sizing: content-box;
      border: 1px solid var(--onion-primary);
      color: var(--onion-primary);
      border-top: none;
      border-right: none;
      border-left: none;
      outline: none;
    }
    border-image-slice: 1;
    ::placeholder {
      margin: 0.25rem;
      color: #000000;
    }
    &.invalid {
      border-color: #ea4335;
    }
  }
  span {
    color: #ea4335;
    font-weight: 500;
  }

  .cta {
    z-index: 10;
    overflow: hidden;
    margin-top: 5rem;
    display: grid;
    padding: 1rem 2rem;
    place-items: center;
    color: var(--white);
    background-color: var(--salmon-primary);
    a {
      width: 100%;
      color: rgb(0, 0, 0);
      padding: 0.5em;
      font-weight: 700;
      font-size: 1.5rem;
    }
    a:hover {
      background: var(--onion-primary);
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .contact-form {
    &__input {
      min-height: 10em;
    }
  }
}
