.footer {
  background-color: var(--black);
  height: fit-content;
  color: var(--white);
  z-index: 1000;

  a:hover {
    color: var(--salmon-primary);
  }

  svg {
    font-size: 1.5em;
    margin: 1rem;
  }

  &__credits {
    font-weight: 300;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--white);
  }
}
